#wrapper
  #container
    .header
      .headerLogo
        = link_to "美容師国家試験対策.kana", root_path
      
      .headerSns
        .headrSnsBtn
          = link_to "https://www.youtube.com/channel/UCb_2hEWbP7T-XbvSKjPqs2A?view_as=subscriber", class: "headerSnsBtn" do
            = icon('fab', 'youtube')
            
        
          = link_to "https://www.instagram.com/", class: "headerSnsBtn" do
            = icon('fab', 'instagram')
            
          = link_to "https://twitter.com/", class: "headerSnsBtn" do
            = icon('fab', 'twitter')

    .inner
      %ul.move
        %li.fl プリント
        %li.fl
          = link_to "最新動画", posts_path
        %li.fl お仕事依頼
        %li.fl Cruelty Free

    .box1
      .slider
        %img.c{alt: "過去問",  src: "/assets/suraido.png" }
        %img.c{alt: "過去問",  src: "/assets/suraido2.png" }
        %img.c{alt: "過去問",  src: "/assets/suraido3.png"}    

    .box2
      .kamoku
        %ul.kamokuA
          %li.ka 関係法規
          %li.ka 
            = link_to "衛生管理"
          %li.ka 美容保健
        %ul.kamokuB
          %li.ka 香粧品
          %li.ka 美容理論
          %li.ka 文化論   


    .footer
      %ul.moveA
        %li.fo プリント
        %li.fo 
          = link_to "最新動画", posts_path
        %li.fo お仕事依頼
      %ul.moveB
        %li.fo 
          = link_to "最新動画", posts_path
          -# = link_to "https://www.instagram.com/", class: "fo" do
        %li.fo Twitter
        %li.fo youtube
        
    .header__bar.row
      - if user_signed_in?
        .user_nav.grid-6
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post{:href => "/posts/new"} 投稿する
      - else
        .grid-6
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
    

