#wrapper
  #container
    .header
      .headerLogo
        = link_to "美容師国家試験対策.kana", root_path
      
      .headerSns
        .headrSnsBtn
          = link_to "https://www.youtube.com/channel/UCb_2hEWbP7T-XbvSKjPqs2A?view_as=subscriber", class: "headerSnsBtn", target: "_blank" do
            = icon('fab', 'youtube')
            
        
          = link_to "https://www.instagram.com/", class: "headerSnsBtn", target: "_blank" do
            = icon('fab', 'instagram')
            
          = link_to "https://twitter.com/", class: "headerSnsBtn", target: "_blank" do
            = icon('fab', 'twitter')
    .mainbox
      .inner
        %ul.move
          %li.fl プリント販売
          %li.fl
            = link_to "最新動画", posts_path
          %li.fl お仕事依頼
          %li.fl Cruelty Free

      .box1
        .slider
          %img.c{alt: "過去問",  src: "/assets/suraido.png" }
          %img.c{alt: "過去問",  src: "/assets/suraido2.png" }
          %img.c{alt: "過去問",  src: "/assets/suraido3.png"}    
        -# %ul.slider
        -#   %li
        -#     %a{:href => "#"}
        -#       %img.c{:alt => "image01", :src => "/assets/suraido.png"}
        -#   %li
        -#     %a{:href => "#"}
        -#       %img.c{:alt => "image02", :src => "/assets/suraido2.png"}
        -#   %li
        -#     %a{:href => "#"}
        -#       %img.c{:alt => "image03", :src => "/assets/suraido3.png"}
        
      .box2
        .kamoku
          %ul.kamokuA
            %li.ka 
              = link_to "関係法規", "https://www.youtube.com/watch?v=coF1qytxEn0&list=PLpiRSyZQpcLyIkM-RjmPF4pnD9s3XIm0n", target: "_blank"
            %li.ka 
              = link_to "衛生管理", "https://www.youtube.com/watch?v=PLaMJDPQGiE&list=PLpiRSyZQpcLwqbGzNmRu2mHrZWazAG6BK", target: "_blank"
            %li.ka 
              = link_to "美容保健", "https://www.youtube.com/watch?v=x3OtvYnPF7I&list=PLpiRSyZQpcLz1fYtUIX7JL6Nt-41xzorx", target: "_blank"
          %ul.kamokuB
            %li.ka 
              = link_to "香化粧品", "https://www.youtube.com/watch?v=m6phlHE_GAU&list=PLpiRSyZQpcLxR_d-RYYzfrf8k_1rBvutb", target: "_blank"
            %li.ka 
              = link_to "美容理論", "https://www.youtube.com/watch?v=W0hOPIuMO_I&list=PLpiRSyZQpcLwHiK1nNAZ9f-bsUSvmNd1h", target: "_blank"
            %li.ka    
              = link_to "文化論", ""


    .footer
      %ul.moveA
        %li.fo プリント
        %li.fo 
          = link_to "最新動画", posts_path
        %li.fo お仕事依頼
      %ul.moveB
        %li.fo 
          = link_to "youtube", "https://www.youtube.com/channel/UCb_2hEWbP7T-XbvSKjPqs2A?view_as=subscriber",class: "headerSnsBtn", target: "_blank" 
        %li.fo 
          = link_to "instagram", "https://www.instagram.com/",class: "headerSnsBtn", target: "_blank"
        %li.fo 
          = link_to "twitter","https://twitter.com/",class: "headerSnsBtn",target: "_blank" 
          
        
    .header__bar.row
      - if user_signed_in?
        .user_nav.grid-6
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post{:href => "/posts/new"} 投稿する
      - else
        .grid-6
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
    

