<div class="p_wrapper">
  <div class="p_container">
    <div class="p_header">
      <h1>
        <%= link_to '美容師国家試験対策.kana', root_path %>
      </h1>
     
    </div>
    <table >
      <thead>
        <tr>
          <th>動画</th>
          <th>説明</th>
          <th>teisei</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><iframe width="100%" height="315" src="https://www.youtube.com/embed/<%=post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
          <td><%= post.body %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
   <br><%= paginate(@posts) %>
   
  </div>
</div>