%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title YouTubeApps
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
      = javascript_include_tag 'application', data: { turbolinks: { track: true }}
      %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}

  
  %body
-# Copyright (c) Mohammad Abdul Mohaiman
-# @mohaiman
-# Released under the MIT license
-# http://opensource.org/licenses/mit-license.php

.context
  .area
    = yield
    %ul.circles
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li

    
